# 忽略 IDE 設定檔
.vscode/
.idea/

# 忽略 Docker 相關臨時檔或日誌
docker-win-ubuntu-phpstudy-main/docker-win-ubuntu-phpstudy-main/log/
*.log

# 忽略系統生成檔案
.DS_Store
Thumbs.db

# 忽略敏感憑證 (雖然我們這次是自簽名，但在真實專案中私鑰不應上傳)
# www/test_https/selfsigned.key
# www/test_https/selfsigned.crt
# 這次為了方便我們在 VPS 上重現，先暫時允許上傳，但在正式產品中應透過 CI/CD 或環境變數注入

# 忽略本地用戶特定設定
www/admin/*/wwwroot/.user.ini

# 忽略開發日誌
DEVELOPMENT_LOG.md
